/****************/
/*  DEFINITIES  */
/****************/

$see-through-green: rgba(97, 165, 52, 0.9);
$see-through-blue: rgba(11, 156, 218, 0.9);
$see-through-orange: rgba(255, 165, 0, 0.9);
$see-through-red: rgba(250, 22, 50, 0.9);
$see-through-white: rgba(255, 255, 255, 0.5);

$light-grey: #cccccc;
$shop-grey: #707070;
$brown-grey: rgba(133, 107, 95, 0.5);

$fluo-green: #57cc82;
$oxfam-green: #61a534;
$bright-red: #ff2e2e;
$pale-blue: #60aafd;
$cookie-grey: #efefef;
$pale-black: #434343;
$pickup: rgb(0, 175, 233);
$delivery: rgb(255, 99, 133);

$black: #1b1b1B;

$green: #60a434;
$new-green: #3da969;
$conversal-green: #0c884a;
$nearly-black: #696767;
$dark-grey: #494949;
$orange: #ed6f08;
$new-orange: #ff9104;
