/*!
	Theme Name:		Oxfam-Wereldwinkels Webshop
	Author:			Efraim Sebrechts & Frederik Neirynck
	Author URI:		https://www.oxfamwereldwinkels.be
	Description:	Custom portaalpagina, lokale logo's en extra banners bij producten.
	Template:		savoy
	Version:		1.5.10
	Text Domain:	oxfam-webshop
*/


/****************/
/*  DEFINITIES  */
/****************/

$see-through-green: rgba(97, 165, 52, 0.9);
$see-through-blue: rgba(11, 156, 218, 0.9);
$see-through-orange: rgba(255, 165, 0, 0.9);
$see-through-red: rgba(250, 22, 50, 0.9);
$see-through-white: rgba(255, 255, 255, 0.5);
$light-grey: #cccccc;
$shop-grey: #707070;
$brown-grey: rgba(133, 107, 95, 0.5);
$fluo-green: #57cc82;
$oxfam-green: #61a534;
$pickup: rgb(0, 175, 233);
$delivery: rgb(255, 99, 133);
$black: #2c2c2c;



/************/
/*  HEADER  */
/************/

/* UNIVERSEEL */
.nm-header.menu-centered {
	
	/* Zet de winkelnaam in CSS na logo */
	.nm-header-logo .winkelnaam {
		vertical-align: middle;
		position: relative;
		top: 5px;
		margin-left: 1em;
		padding: 0.25em 1em;
		font-size: 125%;
		line-height: 125%;
		letter-spacing: 3px;
		color: $black;
		border-left: 1px solid $black;
		display: inline-block;
	}
}

/* SPECIFIEK VOOR LOKALE PAGINA'S */
body:not(.portal) .nm-header.menu-centered {
	
	/* Zorg ervoor dat we de winkelnaam verticaal kunnen centereren */
	.nm-header-logo {
		display: table;
		width: 35%;
	}

	.nm-header-logo .nm-logo {
		height: 60px;
	}

	.nm-main-menu {
		position: relative;
		left: -10%;
	}
}

/* SPECIFIEK VOOR PORTAALPAGINA'S */
body.portal .nm-header.menu-centered {
	/* Volledige breedte laten innemen */
	.nm-header-inner,
	.nm-header-row,
	.nm-header-col,
	.nm-main-menu {
		height: 100%;
		width: 100%;
	}

	/* Forceer het rechterlogo NIET naar een nieuwe regel en centreer inhoud verticaal */
	.nm-header-logo {
		position: relative;
		top: -5px;
		line-height: 110px;	
	}

	.nm-header-logo .nm-logo {
		height: 60px;
	}

	/* Kleur tekst zwart i.p.v. grijs */
	.nm-header-logo .winkelnaam.black {
		color: black;
		border-left: 1px solid black;
		line-height: 40px;
	}

	.nm-main-menu {
		position: absolute;
		line-height: 110px;
	}

	.nm-main-menu .hoofdtitel {
		color: black;
		font-size: 2em;
		font-weight: bold;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
	}

	.nm-right-menu .nm-logo {
		height: 110px;
	}
}

body.portal {

	.input-group {
		text-align: center;
		font-size: 105%;
	}

	.minimal {
		background-color: white;
		border: 1px solid $black;
		text-align: center;
		display: inline-block;
		position: relative;
		padding: 0.5em 0.75em;
		margin: 0;
	}

	#oxfam-zip-user {
		width: 215px;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		border-right: none;
		padding-right: 0.25em;
		left: 5px;
	}

	#do_oxfam_redirect {
		color: black;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		border-left: none;
		padding-left: 0.5em;
		left: -5px;
	}

	i.pe-7s-search {
		line-height: 100%;
		position: relative;
		top: 5px;
	}

	i.pe-7s-search:before {	
		font-size: 140%;
	}

	i.pe-7s-search.loading:before {
		content: "\e632";
	} 

	.input-group.is-valid > #do_oxfam_redirect,
	.input-group.is-valid > #oxfam-zip-user {
		border-color: $fluo-green;
	}

	.ui-autocomplete {
		color: $black;
		font-size: 95%;
		background: white;
		border: 1px solid black;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top: none;
		overflow: hidden;
	}

	.ui-menu-item {
		padding: 3px 6px;
	}

	.ui-state-hover,
	.ui-state-focus {
		background: $fluo-green;
		border-color: transparent;
	}
}

/* Enkel voor homepage van portaal! */ 
body.portal.home {
	
	/* Wijzig achtergrondkleur en hoogte */
	div.nm-page-wrap-inner > #nm-header-placeholder {
		background-color: $fluo-green;
		height: 160px;
	}

	/* Verstop placeholder */
	div.nm-page-wrap-inner > #nm-header {
		background-color: transparent;
	}

	/* Wijzig kleur centrale tekst */
	.nm-header.menu-centered .nm-main-menu .hoofdtitel {
		color: white;
	}

	img.placemarker {
		max-height: 40px;
	}

	h3.afhaling,
	h3.thuislevering {
		text-align: center;
		font-size: 140%;
		color: $black;
		max-width: 400px;
		margin: 0 auto;
	}

	.nm_column:not(:last-child) {
		border-right: 1px solid $light-grey;
	}

	.nm-footer-widgets {
		border-top: none;
	}
}



/**************/
/*  ALGEMEEN  */
/**************/

/* Quick fix voor centreren hoofdpagina's */
body.page-template-default div.nm-row.nm-row-boxed.nm-row-max-width {
	margin: auto;
}

/* Plusjes en minnetjes i.p.v. pijltjes als hoeveelheidsknoppen */
.nm-qty-minus.nm-font-media-play:before {
	content: '\f068';
}
.nm-qty-plus.nm-font-media-play:before {
	content: '\f067';
}

/* Quotes nooit centreren! */
.nm-testimonial-description {
	text-align: left !important;
}

/* Extra klasses voor 'Hoe werkt het?'-pagina */
.extra-bottom-marge h3 {
	margin-bottom: 1em;
}
.centreer-blokje-op-helft {
	width: 50%;
}

/* Maak de leeggoedicoontjes kleiner */
.shop_table.cart .product-thumbnail.empties {
	padding: 20px;
}
.nm-cart-panel-thumbnail-wrap.empties {
	padding: 10px;
}

/* Verzorg spatiëring tussen betaalicoontjes */
.nm-footer-bar-logo.betaalmethodes,
.nm-footer-bar-logo.betaalmethodes img {
	margin-right: 5px;
}

/* Breedte productarchief- en productdetailpagina's limiteren */
div#nm-shop,
div.nm-single-product {
	max-width: 1500px;
	margin: 0 auto;
}

/* Zet de titels op de homepage groter */
.titels-homepage h4 {
	font-size: 2em !important;
}

.onderschrift-homepage figcaption {
	font-size: 1.1em !important;
	line-height: 1.3em !important;
}

/* Lijstjes netjes laten inspringen */
.page-template-default .wpb_text_column ul > li {
	list-style-position: outside;
	margin-left: 3em;
	margin-bottom: 1em;
}

/* Prijs wat dichter bij de titel laten komen */
h1.product_title.entry-title {
	margin-bottom: 0;
}

/* Geef leeggoedboodschap wat marge boven en onder */
div.wc-force-sells {
	margin: 1em 0;
}
div.wc-force-sells > p {
	margin-bottom: 0;
}
div.wc-force-sells > ul {
	margin-left: 30px;
}

/* Maak de testimonial iets subtieler */
div.nm-testimonial {
	margin: 2em auto 1em auto;
}
div.nm-testimonial-description {
	font-size: 110%;
	font-style: italic;
	color: #777777;
	position: relative;
	padding-top: 10px;
	padding-left: 60px;
}
div.nm-testimonial-description:before {
	content: '\201C';
	font-family: Georgia;
	line-height: 1em;
	font-size: 5em;
	font-weight: bold;
	color: #999999;
	position: absolute;
	left: 0;
	top: 0;
}
div.nm-testimonial-author {
	text-align: right;
}

div.nm-product-share-wrap {
	padding-top: 0;	
	margin-top: 1em;
}

/* Zet limiet op breedte van productbeschrijving */
div.nm-tabs-panel-inner {
	max-width: 820px;
	margin: 0 auto;
	padding: 0;
}

/* Maak de kolommen in de technische productinfo breder/smaller */
#tab-additional_information .shop_attributes th,
#tab-partner_info .shop_attributes th,
#tab-allergen_info .shop_attributes th {
	width: 30%;
}
#tab-food_info .shop_attributes th {
	width: 50%;
}

/* Zorg dat de beschrijvende tekst boven een categoriefoto beter leesbaar wordt */
.nm-product-category-text {
	width: 100%;
	background-color: transparent;
	background-color: $see-through-white;
}
.nm-product-category-heading {
	color: black;
}
.nm-product-category-text > .invert-color {
	color: black;
}

/* Fix overlap foto en tekst in widget */
.widget_recently_viewed_products .product_list_widget > li {
	padding: 5px 0 0 80px !important;
}

/* Zet vinkje en tekst bij algemene voorwaarden op zelfde lijn */
.woocommerce-form__label-for-checkbox > span {
	display: inline !important;
}

/* Beperk de afmetingen van producten op de cataloguspagina's (+ centreer in kolom en maak achtergrond wit) */
.nm-shop-loop-thumbnail > a > img {
	max-width: 350px;
	margin: 0 auto;
}
.nm-shop-loop-thumbnail > a {
	background-color: white;	
}

/* Beperk de afmetingen van producten op de detailpagina's */
.thumbnails-vertical .woocommerce-product-gallery__wrapper {
	text-align: center;
}
.woocommerce-product-gallery__image a img {
	max-width: 595px;
}

/* Maak de tekstboodschappen groen */
.woocommerce-message {
	color: $oxfam-green !important;
}

li.product,
div.nm-single-product div.woocommerce-product-gallery  {
	overflow: hidden;
}

/* Fix voor zoombox die productfoto's op detailpagina rechts afknipt */
figure {
	margin: 0 !important;
}

/* Styleer herkomstinfo boven winkelmandknop */
p.herkomst {
	margin-bottom: 1em;
	font-weight: bold;
}
.summary.entry-summary.clear {
	// padding-left: 50px;
}

/* Verzendkosten rechts uitlijnen, ook als er slechts één methode beschikbaar is */ 
tr.shipping .woocommerce-Price-amount {
	float: right;
}

/* Geef meer ruimte aan beschrijving promoactie TH-BREEDTE MANIPULEREN IS MISERIE, ZOEK ANDERE MANIER */
.cart-collaterals .shop_table .cart-discount > th,
.cart-collaterals .shop_table .cart-discount > td {
}

/* Geef meer ruimte aan totaalprijzen en plaats de belastingen op een nieuwe regel bij het winkelmandje */
.cart-collaterals .shop_table .order-total > th,
.cart-collaterals .shop_table .order-total > td {
	width: 50%;
}
.cart-collaterals .shop_table .order-total small.includes_tax {
	display: block;
}

/* Geef meer ruimte aan totaalprijzen en plaats de belastingen op een nieuwe regel bij het afrekenoverzicht */
.woocommerce-checkout-review-order .shop_table .order-total > th,
.woocommerce-checkout-review-order .shop_table .order-total > td {
	width: 50%;
}
.woocommerce-checkout-review-order .shop_table .order-total small.includes_tax {
	display: block;
}

/* Adressen op besteloverzicht na afrekenen én in 'Mijn account' stylen */
.nm-checkout-ty,
.woocommerce-MyAccount-content {
	div.addresses {
		// line-height: normal;
		
		h3 {
			/* Identieke witruimte boven titels */
			margin-top: 17px;
		}

		address {
			/* Zelfde kleur van hoofdtekst */
			color: #777777;
		}
	}
}

mark.order-status {
	background-color: $see-through-green;
	padding: 3px;
}



/************/
/*  FOOTER  */
/************/

.textwidget i,
.textwidget h2,
.textwidget p {
	color: $black;
}

li.widget.widget_text:not(:last-child) {
	border-right: 1px solid $light-grey;
}

.nm-footer-widgets.has-border {
	padding: 2em 0;
	border-top: 1px solid $light-grey;
}

.header-border-1 .nm-header {
	border-bottom: 1px solid $light-grey;
}

.vc_sep_line {
	border-top: 1px solid $light-grey !important;
}

.nm-footer-widgets a {
	color: $oxfam-green !important;
}

@mixin icon( $image: 'wereld' ) {
	/* Zorg ervoor dat het originele icoontje in ::before onzichtbaar wordt */
	color: transparent !important;
	font-size: 64px;
	background-image: url('images/#{$image}.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

i.pe-7s-timer {
	@include icon( 'klok' );
}

i.pe-7s-global {
	@include icon( 'wereld');
}

i.pe-7s-comment {
	@include icon( 'handen' );
}



/*************/
/*  BANNERS  */
/*************/

@mixin banner( $color: $see-through-green, $font-size: 85% ) {
	color: white;
	position: absolute;
	top: 0em;
	left: 0.25em;
	padding: 0 0.5em;
	font-size: $font-size;
	z-index: 50;
	transform: skewX(-3deg);
	background-color: $color;
}

/* Toon een blokje bij bioproducten */
li.product.pa_bio-ja::before {
	@include banner( $see-through-green );
	content: "Bioproduct"; 
}
div.nm-single-product.pa_bio-ja figure.woocommerce-product-gallery__wrapper::before {
	@include banner( $see-through-green, 95% );
	content: "Biogecertificeerd product";
}

/* Toon een blokje bij producten die niet beschikbaar zijn voor thuislevering */
li.product.product_shipping_class-breekbaar::after {
	@include banner( $see-through-blue );
	content: "Afhaling";
}
div.nm-single-product.product_shipping_class-breekbaar figure.woocommerce-product-gallery__wrapper::after {
	@include banner( $see-through-blue, 95% );
	content: "Enkel afhaling in de winkel";
}

/* Toon een blokje bij nieuwe producten (door automatisch toegevoegde nieuwe datumklasse in template) */
/* OVERSCHRIJFT AFHAALBLOKJE INDIEN OOK ACTIEF */
li.product.newbee::after {
	@include banner( $see-through-orange );
	content: "Nieuw";
}
div.nm-single-product.newbee figure.woocommerce-product-gallery__wrapper::after {
	@include banner( $see-through-orange, 95% );
	content: "Nieuw in ons assortiment";
}

/* Toon een blokje bij promoties (op basis van tag) */
/* OVERSCHRIJFT NEWBEEBLOKJE INDIEN OOK ACTIEF */
li.product.product_tag-promotie::after {
	@include banner( $see-through-red );
	content: "Promo";
}
div.nm-single-product.product_tag-promotie figure.woocommerce-product-gallery__wrapper::after {
	@include banner( $see-through-red, 95% );
	content: "In promotie";
}

/* Indien 'bioproduct'-klasse actief is: plaats de 'nieuw'-, 'promo'- en/of 'afhalen'-klasse lager om overlap te vermijden */
li.product.pa_bio-ja.newbee::after,
li.product.pa_bio-ja.product_shipping_class-breekbaar::after,
li.product.pa_bio-ja.product_tag-promotie::after,
div.nm-single-product.pa_bio-ja.newbee figure.woocommerce-product-gallery__wrapper::after,
div.nm-single-product.pa_bio-ja.product_shipping_class-breekbaar figure.woocommerce-product-gallery__wrapper::after,
div.nm-single-product.pa_bio-ja.product_tag-promotie figure.woocommerce-product-gallery__wrapper::after {
	top: 2.5em;
}

li.product.pa_bio-ja:hover::before,
li.product.newbee:hover::after,
li.product.product_shipping_class-breekbaar:hover::after,
li.product.product_tag-promotie:hover::after {
	opacity: 0.7;
	transition: opacity 1s ease-out 0s;
}

.onsale {
	background-color: #ccc;
}

/* Even groot als gewone prijs */
del > .woocommerce-Price-amount {
	font-size: 20px !important;
}



/*************/
/*  HIDDENS  */
/*************/

/* Verberg overtollige info */
.nm-coupon-wrap,
.nm-single-product-menu,
.shop_table input[name=update_cart],
#calc_shipping_country_field,
.nm-shipping-th-title,
#customer_details #billing_country_field,
#customer_details #shipping_country_field,
.woocommerce-address-fields #billing_country_field,
.woocommerce-address-fields #shipping_country_field,
.checkout-subscribe-action,
.products li.outofstock .nm-shop-loop-thumbnail > a:after,
.ui-helper-hidden-accessible,
.widget_product_tag_cloud {
	display: none !important;
}

/* Verberg Jetpack-notificaties rechtsboven */
li#wp-admin-bar-notes {
	display: none;
}

/* Verberg lelijk opgemaakte 'Verzendkosten bijgewerkt' */
.nm-shop-notice .woocommerce-info {
	display: none;
}

#sendcloudshipping_service_point_select,
#sendcloudshipping_service_point_selected_label {
	margin: 0.5em auto;
	text-align: center;
}

/* Geef titeltje 'Bestelnotities' zelfde lay-out als factuur- en verzendgegevens (of ook h3 van maken in template?) */
p#order_comments_field.form-row.notes label {
	font-size: 24px;
	padding-bottom: 27px;
	padding-top: 36px;
}

/* Zorg ervoor dat de adressen en openingsuren de volledige breedte kunnen innemen (één of meerdere afhaalpunten) */
.woocommerce-checkout-review-order-table tr.pickup_location td.update_totals_on_change > ul {
	width: 350px;
	float: right;
	margin-top: 2em;
}
.woocommerce-checkout-review-order-table tr.pickup_location div.wc-pickup-location-note {
	width: 350px;
	float: right;
	font-style: italic;
}
.woocommerce-checkout-review-order-table tr.pickup_location td.update_totals_on_change > ul > li {
	margin-bottom: 0.5em;
}

.woocommerce-checkout-review-order-table tr.pickup_location th {
	padding-right: 0 !important;
}

div.nm-feature.layout-centered {
	max-width: 400px;
	margin: 0 auto;
	padding: 0.75em;
}



/*****************/
/*  BREAKPOINTS  */
/*****************/

@media (min-width: 881px) {
	/* Zet een limiet op de breedte van de add-to-cart knoppen */
	div.nm-quantity-wrap,
	button.nm-simple-add-to-cart-button {
		max-width: 250px;
	}
}

@media (max-width: 1400px) {
	body.portal .nm-header.menu-centered {

		.nm-main-menu .hoofdtitel {
			max-width: 500px;
			line-height: 125%;
			position: relative;
			right: -3%;
		}

		.nm-header-logo {
			width: 75%;
		}
	}
}

@media (max-width: 1024px) {
	/* Reset naar standaard mobiele weergave */
	body:not(.portal) .nm-header.menu-centered {

		.nm-header-logo {
			width: 25%;
		}
	
		.nm-header-logo .winkelnaam {
			display: none;
		}

		.nm-main-menu {
			left: 0;
		}
	}

	body.portal .nm-header.menu-centered {
		
		.nm-header-logo .winkelnaam {
			display: none;
		}
	}

	li.widget.widget_text:nth-child(2n) {
		border-right: none;
	}

	.nm-footer-bar-logo.betaalmethodes {
		margin-top: 10px;
	}

	.nm-footer-bar-logo.betaalmethodes img:last-child {
		margin-right: 0;
	}
}

@media (max-width: 880px) {
	/* Reset naar standaard mobiele weergave */
	body:not(.portal) .nm-header.menu-centered .nm-header-logo {
		width: 75%;

		.winkelnaam {
			display: inline-block;
			padding: 0.25em 1em;
			font-size: 110%;
			line-height: 110%;
		}
	}

	body.portal .nm-header.menu-centered {

		.nm-header-logo {
			line-height: 90px;
			top: -5px;
		}

		.nm-main-menu {
			display: block;
			max-width: 100%;
			font-size: 70%;

			.hoofdtitel {
				max-width: 350px;
				top: 55%;
			}
		}

		.nm-right-menu {
			line-height: 90px;

			.nm-logo {
				height: 90px;
			}
		}
	}

	body.portal.home {

		.nm_column:not(:last-child) {
			border-right: none;
		}
	}

	li.widget.widget_text {
		border: none;
	}
}

@media (max-width: 600px) {
	body.portal .nm-header.menu-centered {
		
		.nm-header-logo .winkelnaam {
			display: inline-block;
		}

		.nm-main-menu {
			display: none;
		}
	}

	body.portal.home {

		.nm_column:not(:first-child) {
			margin-top: 3em;
		}

		h3.afhaling,
		h3.thuislevering {
			max-width: 370px;
		}
	}
}

@media (max-width: 480px) {
	body.portal .nm-header.menu-centered {

		.nm-header-logo {
			width: 100%;
			text-align: center;
		}

		.nm-right-menu {
			display: none;
		}
	}
}

@media (max-width: 360px) {
	body.portal .nm-header.menu-centered {
		
		.nm-header-logo {
			line-height: 60px;
			top: 5px;
		}

		.nm-header-logo .winkelnaam.black {
			margin-left: 0;
			border-top: 1px solid black;
			border-left: none;
		}
	}

	body.portal {
		
		#oxfam-zip-user {
			width: 175px;
		}
	}
}