

// Products
// --------------------------------------------------

@mixin grid-row() {
  margin-left: -12px;
  margin-right: -12px;
  zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin grid-col() {
  padding-left: 12px;
  padding-right: 12px;
}
