

// Cart
// --------------------------------------------------

.woocommerce-page {
  &.woocommerce-checkout,
  &.woocommerce-cart {
    .nm-page-wrap-inner {

      > .nm-row {
        @include grid-row();

        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // @ToDo: Remove after adding .container to correct template
  &.woocommerce-checkout {
    .woocommerce {
      padding: 0 20px;
    }
  }
  // ^--
}

.woocommerce-cart-form {
  > h3 {
    float: left;
    margin-bottom: 20px;
  }

  > .wc-proceed-to-checkout {
    margin-bottom: 20px;
    padding-top: 0;
    float: right;

    @media (max-width: 991px) {
      padding-top: 0 !important;
    }
  }

  > .shop_table.cart,
  > .shop_table {
    margin-top: 20px;
    margin-bottom: 0;

    tr td {
      padding: 15px 8px !important;
      border: 0 !important;
      border-bottom: 1px solid #eaeaea !important;

      &:first-of-type {
        padding-left: 0 !important;
      }

      &:last-of-type {
        padding-right: 0 !important;;
      }
    }

    > tbody > tr {
      border-top: 0;
    }

    .product-remove {
      vertical-align: middle !important;
    }

    .nm-product-subtotal,
    .product-title {
      font-size: 18px;
      font-weight: bold;
    }

    .nm-product-subtotal {
      text-align: right;
    }

    .nm-product-quantity {
      min-width: 100px;
    }

    .nm-quantity-wrap {
      width: auto;
      display: inline-block;
      border: 1px solid #dadada;

      .qty {
        font-size: 18px;
      }
    }
  }


  > .cart-collaterals {
    width: 100%;
    margin-top: 0;
    margin-bottom: 34px;

    > .cart_totals {
      > table.shop_table {
        margin-bottom: 20px;

        tr {
          border-top: 0;

          &.cart-subtotal {
            th,
            td {
              font-weight: bold;
              font-size: 18px;
            }
          }

          &.order-total {
            th,
            td {
              font-weight: bold;
              font-size: 20px;

              .includes_tax {
                font-weight: normal;
                margin-top: 5px;
              }
            }
          }

          th,
          td {
            background: 0;

            padding: 15px 8px !important;
            border: 0 !important;
            border-bottom: 1px solid #eaeaea !important;

            &:first-of-type {
              padding-left: 0 !important;
            }

            &:last-of-type {
              padding-right: 0 !important;;
            }

            &.shipping-explanation {
              color: $black;
            }
          }
        }

        #shipping_method {
          margin-bottom: 0;
        }

        .woocommerce-shipping-destination {
          padding: 0;
        }
      }
    }
  }
}

.wc-proceed-to-checkout {
  padding-top: 0 !important;
  display: flex;
  justify-content: flex-end;

  .button {
    width: auto !important;
  }

  #nm-cart-continue-button {
    border: 0;
    text-decoration: underline;
  }

  .checkout-button {
    width: auto;

    &:after {
      content: "";
      background: url(/wp-content/themes/oxfam-webshop/images/arrow-right-white.svg) no-repeat center center transparent;
      display: inline-block;
      width: 8px;
      height: 14px;
      margin-left: 10px;
      top: 2px;
      position: relative;
    }
  }
}

.storeselector-wrapper {
  margin-top: 10px;
  margin-bottom: 34px;

  > p {
    font-weight: 500;
  }
}
