

// Cart
// --------------------------------------------------

.woocommerce-page {
  &.woocommerce-checkout,
  &.woocommerce-cart {
    .nm-page-wrap-inner {

      > .nm-row {
        @include grid-row();

        padding-left: 0;
        padding-right: 0;
      }
    }

    .page.type-page {
      > .woocommerce {
        > .container {
          padding: 0;
          max-width: 100%;
        }
      }
    }
  }

  &.woocommerce-checkout {
    .woocommerce {
      padding: 0;
    }
  }
}

.woocommerce-cart-form {
  > h3 {
    float: left;
    margin-bottom: 20px;
  }

  > .wc-proceed-to-checkout {
    margin-bottom: 20px;
    padding-top: 0;
    float: right;

    @media (max-width: 991px) {
      padding-top: 0 !important;
    }
  }

  > .shop_table.cart,
  > .shop_table {
    margin-top: 20px;
    margin-bottom: 0;

    &.shop_table_responsive {
      @media (max-width: 767px) {
        display: block;

        tbody {
          display: block;

          tr {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;

            .product-thumbnail {
              width: 100px;
            }

            .nm-product-details {
              width: calc(100% - 100px);

              > a {
                padding-right: 0;
              }
            }

            .nm-product-quantity {
              line-height: 42px;
            }

            .nm-product-subtotal {
              span {
                line-height: 42px;
              }
            }
          }
        }
      }
    }

    tr td {
      padding: 15px 8px !important;
      border: 0 !important;
      border-bottom: 1px solid #eaeaea !important;

      &:first-of-type {
        //padding-left: 0 !important;
      }

      &:last-of-type {
        //padding-right: 0 !important;;
      }
    }

    > tbody > tr {
      border-top: 0;
    }

    .product-remove {
      vertical-align: middle !important;
    }

    .nm-product-subtotal,
    .product-title {
      font-size: 18px;
      font-weight: bold;
    }

    .nm-product-subtotal {
      text-align: right;
    }

    .nm-product-quantity {
      min-width: 100px;
    }

    .nm-quantity-wrap {
      width: auto;
      display: inline-block;
      border: 1px solid #dadada;
      border-radius: 5px;
      vertical-align: top;

      .qty {
        font-size: 18px;
      }
    }
  }

  .digital-voucher {
    .input-text {
      display: inline-block;
      width: 100%;
      padding: 12px 0 4px 0;
      border: none;
      border-bottom: 1px dashed #e5e5e5;
    }

    .button {
      background-color: transparent;
      color: $black;
      border: 1px solid $black;
      font-size: 14px;
      padding: 8px;
      transition: all 0.2s;

      &:hover {
        background-color: $black;
        color: white;
        opacity: initial;
      }
    }
  }
}

.cart-collaterals {
  width: 100% !important;
  float: none !important;
  margin-top: 0 !important;
  margin-bottom: 34px !important;

  > .cart_totals {
    > table.shop_table {
      margin-bottom: 20px;

      @media (max-width: 767px) {
        display: flex;
      }

      tbody {
        width: 100%;
      }

      tr {
        border-top: 0;
        border-bottom: 0;

        @media (max-width: 767px) {
          &,
          th,
          td {
            display: inline-block;
            width: 100%;
          }

          &.cart-subtotal,
          &.order-total {
            display: flex;
            flex-wrap: wrap;

            th,
            td {
              width: 50%;
            }
          }
        }

        .lpp-shipping-package-wrapper {
          tr td[data-title="Verzending"] {
            padding-bottom: 0 !important;
            border-bottom: 0 !important;

            @media (min-width: 768px) {
              padding-top: 0 !important;
            }
          }

          // Openingsuren luid en duidelijk vermelden
          .pickup-location-address {
            font-size: 1em;
          }

          // Itemlijst bij afhalingen in de winkel verbergen (geen split packages mogelijk)
          #pickup-items-field-for-0 {
            display: none;
          }
        }

        .woocommerce-shipping-calculator {
          padding-left: 0;
          padding-right: 0;
        }

        &.cart-subtotal {
          th,
          td {
            font-weight: bold;
            font-size: 18px;
          }

          & + tr > th {
            //display: none;
          }
        }

        &.order-total {
          th,
          td {
            font-weight: bold;
            font-size: 20px;

            .includes_tax {
              font-weight: normal;
              margin-top: 5px;
            }
          }
        }

        th,
        td {
          background: 0;
          padding: 15px 8px !important;
          border: 0 !important;
          border-bottom: 1px solid #eaeaea !important;

          &:first-of-type {
            padding-left: 0 !important;
          }

          &:last-of-type {
            padding-right: 0 !important;
          }

          &.no-border-bottom {
            border-bottom: none !important;
          }

          &.shipping-explanation {
            color: $black;
          }

          &.asymmetrical {
            padding: 0 0 20px 0 !important;
          }

          @media (min-width: 768px) { 
            &.asymmetrical {
              width: 70%;
            }

            &.asymmetrical.small {
              width: 30%;
            }
          }
        }

        @media (max-width: 767px) { 
          th {
            border-bottom: none !important;
          }
        }
      }

      #shipping_method {
        margin-bottom: 0;

        > li {
          position: relative;

          > input {
            position: absolute;
            top: 4px;
          }

          > input[type=radio] + label {
            // Enkel inspringen indien meerdere opties
            padding-left: 20px;
          }

          > .pickup-location-field {
            margin: 15px 0;
          }
        }
      }

      .woocommerce-shipping-destination {
        padding: 0;
      }
    }
  }
}

.wc-giftwrap {
  > .giftwrap_header_wrapper {
    margin-top: 15px;

    > .btn {
      background-color: transparent;
      border: 1px solid $black;
      border-radius: 0;
      color: $black;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      opacity: 1;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      width: auto;

      &:after {
        content: "";
        background: url(/wp-content/themes/oxfam-webshop/images/icons/gift-black.svg) no-repeat center center transparent;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        top: 0;
        position: relative;
        vertical-align: top;
      }

      &:hover {
        color: white;
        background-color: $black;
        opacity: inherit;

        &:after {
          background-image: url(/wp-content/themes/oxfam-webshop/images/icons/gift.svg);
        }
      }
    }
  }
}

.giftwrap_ul {
  display: inline-block;
  width: 100%;

  > .giftwrap_li {
    position: relative;
    width: 100%;

    > input {
      position: absolute;
      left: 0;
      top: 5px;
    }

    > label {
      padding-left: 20px;
    }
  }
}

.wc-proceed-to-checkout {
  padding-top: 0 !important;
  display: flex;
  justify-content: flex-end;

  .button {
    width: auto !important;
  }

  #nm-cart-continue-button {
    border: 0;
    text-decoration: underline;
  }

  .checkout-button {
    width: auto;

    &:after {
      content: "";
      background: url(/wp-content/themes/oxfam-webshop/images/arrow-right-white.svg) no-repeat center center transparent;
      display: inline-block;
      width: 8px;
      height: 14px;
      margin-left: 10px;
      top: 2px;
      position: relative;
    }
  }
}

.storeselector-wrapper {
  margin-top: 10px;
  margin-bottom: 34px;

  > p {
    font-weight: 500;
  }
}

.widget-panel-dark #nm-widget-panel {
  .product_list_widget {
    padding-bottom: 24px;
  }

  .buttons .button {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.add-gift {
      margin-top: 12px;
      color: #eee;

      &:before {
        content: "";
        background: url(/wp-content/themes/oxfam-webshop/images/icons/gift.svg) no-repeat center center transparent;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        top: 0;
        position: relative;
        vertical-align: top;
      }
    }
  }
}

.wjecf-select-free-products {
  li {
    position: relative;

    > input[type=radio] {
      display: none;
    }

    > input[type=radio] + label:after {
      position: absolute;
      right: 0;
      top: 0;
      width: 2em;
      height: 2em;
      background-color: black;
      border-radius: 50%;
    }

    > input[type=radio]:checked + label:after {
     background-color: green;
    }
  }
}