

// Catalog page elements
// --------------------------------------------------

.nm-shop-sidebar-default #nm-shop-sidebar {
  padding-right: 0 !important;

  > .selected-store {
    margin-bottom: 30px;
  }

  @media (max-width: 991px) {
    margin-top: 32px !important;
  }

  .catalog-filters > .nm-shop-widget-col {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;

    @media (max-width: 991px) {
      margin-bottom: 8px;
      padding-bottom: 5px;
      border-bottom: 0;
    }

    > .nm-widget-title {
      font-weight: 400;
    }

    a {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 8px;
      line-height: 24px;
      padding-left: 12.8px;
      text-decoration: none;
      width: 100%;

      &:hover {
        color: $black;
      }

      &:before {
        content: "";
        display: inline-block;
        background-color: white;
        border: 1px solid $black;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        position: relative;
        left: -9.6px;
        top: 2.4px;
      }

      &.active:before {
        background-color: $new-green;
        border-color: $new-green;
      }
    }
  }

  #nm-shop-widgets-ul {
    .nm-widget-title {
      color: $black;
      font-size: 21.25px;
      font-weight: 400;
      line-height: 25.5px;
      margin-bottom: 15px;

      @media (max-width: 991px) {
        padding: 0;
        margin-bottom: 15px;
        border: 0;
      }
    }

    .widget {
      margin-bottom: 30px;
      padding-bottom: 30px;

      @media (max-width: 991px) {
        margin-bottom: 8px;
        padding-bottom: 5px;
      }

      .nm-shop-widget-col {
        display: flex;
        flex-direction: column;

        @media (max-width: 991px) {
          &:last-child > * {
            padding: 0;
            border: 0;
          }
        }
      }

      ul.children {
        margin-top: 0;
        margin-bottom: 0;
      }

      ul li {
        line-height: 24px;
        margin-bottom: 0;
      }

      a {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
        line-height: 24px;
        padding-left: 12.8px;
        text-decoration: none;

        &:hover {
          color: $black;
        }

        &:before {
          content: "";
          display: inline-block;
          background-color: white;
          border: 1px solid $black;
          border-radius: 3px;
          width: 16px;
          height: 16px;
          position: relative;
          left: -9.6px;
          top: 2.4px;
        }
      }
    }

    .product-categories {
      margin-bottom: 0;
    }

    li.current-cat-parent,
    li.current-cat {
      > a {
        color: $black;
        position: relative;
        padding-right: 20px;
        width: 100%;

        &:before {
          background-color: $new-green;
          border-color: $new-green;
        }

        &:after {
          content: "X";
          color: $red-promo;
          display: inline-block;
          padding-left: 10px;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .widget_recently_viewed_products {
    > h2 {
      font-weight: normal;
      font-size: 21.25px;
      line-height: 25.5px
    }

    a {
      padding-left: 0;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;

      &:hover {
        color: $black;
      }

      &:before {
        content: none;
      }
    }
  }

  @media (max-width: 991px) {
    .catalog-filters {
      display: none;

      .nm-widget-title {
        pointer-events: none;
        font-weight: 400;

        &:after {
          content: none;
        }
      }

      .nm-shop-widget-col {
        height: auto !important;
      }
    }

    &.show-me .catalog-filters {
      display: block !important;
      background: #f9f9f9 !important;
      position: fixed;
      width: calc(100% - 30px);
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      padding: 31px;
      z-index: 1000;
      height: 90%;
      overflow-y: auto;
    }
  }
}

#nm-shop {
  width: 1370px;
  margin: 0 auto;

  @media (max-width: 1600px) {
    width: 1170px;
  }

  @media (max-width: 1200px) {
    width: 970px;
  }

  &.header-disabled {
    padding-top: 0 !important;
  }

  @media (max-width: 991px) {
    width: 750px;
    padding: 0 20px;

    &.header-disabled {
      padding: 0 12px !important;
    }
  }

  @media (max-width: 767px) {
    width:100%;
  }

  .woocommerce-breadcrumb {
    max-width: 1370px !important;
    padding: 0 !important;
    margin: 20px auto !important;

    font-size: 12.75px;
    line-height: normal;
    color: #1b1b1B;
  }

  #nm-shop-products {
    > .nm-row {
      margin-left: -12px;
      margin-right: -12px;
      zoom: 1;
      padding: 0;
    }
  }
}

.nm-shop-search-inner {
  border: 0 !important;
  padding: 0 !important;
  margin: 20px 0 !important;

  #nm-shop-search-close {
    display: none;
  }

  // form
  #nm-shop-search-form {
    margin: 0 auto;
    padding: 0;
    position: relative;

    #nm-shop-search-close {
      display: none;
    }

    #nm-shop-search-input {
      padding: 26px 65px 26px 26px;
      background: url(/wp-content/themes/oxfam-webshop/images/search.svg) no-repeat center right 20px #F5F5F2;
      display: block;
      width: 100%;
      margin: 0;
      color: #696767;
      border: 1px solid #E5E5E5;
      border-radius: 0;
      font-size: 16px;
      line-height: normal;
      font-weight: normal;
      resize: none;
    }

    input[type=submit] {
      padding: 12px 68px;
      position: absolute;
      top: 15px;
      right: 15px;
      background: #0C884A;
      border-color: #0C884A;
      color: #fff;

      &:hover {
        background: #60A434;
        border-color: #60A434;
        color: #fff;
      }
    }
  }

  #nm-shop-search-notice {
  }
}

#nm-shop-browse-wrap {
  margin-top: 50px;

  .nm-products {
    display: flex;
    flex-wrap: wrap;

    &:before {
      content: none;
    }

    > li {
      display: flex;
      clear: none;
      float: none;
    }

    > .promo-banner {
      padding: 0 12px;
      margin-bottom: 24px;

      &.horizontal {
        width: 100%;
      }

      &.vertical {
        > a {
          position: absolute;
          left: 12px;
          right: 12px;
          top: 0;
          bottom: 0;

          overflow: hidden;
          display: flex;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }

  .nm-infload-controls {
    a.nm-infload-btn {
      background: $black;
      border: 0;
      color: $white;
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
      padding: 8px 16px;
      text-transform: uppercase;

      &:hover {
        background: lighten($black, 10%);
        border: 0;
      }
    }

    &.nm-loader {
      a.nm-infload-btn {
        background: transparent;
        border: 0;
      }
    }
  }
}


.toggle-filter,
.close-filter {
  display: none;

  @media (max-width: 991px) {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}

.close-filter {
  margin-bottom: 15px;
}


.wjecf-fragment-cart-select-free-product {
  display: none;
}

/* Fix overlap foto en tekst in widget */
.widget_recently_viewed_products .product_list_widget > li {
  padding: 5px 0 0 90px !important;

  .product-title {
    font-weight: bold;
  }
}

.widget .product_list_widget {
  margin-bottom: 0;

  > li {
    margin-bottom: 5px !important;

    a {
      margin-bottom: 0 !important;
      width: 100%;

      img {
        top: 5px;
      }
    }
  }
}

#nm-shop-products-overlay.show {
  position: fixed !important;;
  top: 0 !important;;
  bottom: 0 !important;;
  left: 0 !important;;
  right: 0 !important;;

  &:after {
    top: 50% !important;;
    margin-top: -15px !important;
  }
}
